<p id="notice"><%= notice %></p>

<h1>Slides</h1>

<table>
  <thead>
    <tr>
      <th>Picture</th>
      <th>Name</th>
      <th>Desc left</th>
      <th>Desc right</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @slides.each do |slide| %>
      <tr>
        <td><%= link_to image_tag(slide.picture.url(:medium)), slide.picture.url %></td>
        <td><%= slide.name %></td>
        <td><%= slide.desc_left %></td>
        <td><%= slide.desc_right %></td>
        <td><%= link_to 'Show', slide %></td>
      </tr>
    <% end %>
  </tbody>

</table>


<%= link_to 'New Slide', new_slide_path %>
<hr>
<div class="owl-carousel">
<div> Your Content </div>
<div> Your Content </div>
<div> Your Content </div>
<div> Your Content </div>
<div> Your Content </div>
<div> Your Content </div>
<div> Your Content </div>
</div>
<hr>
