<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @slide.name %>
</p>
<p>
  <strong>Desc left</strong>
  <%= @slide.desc_left %>
</p>
<p>
  <strong>Desc right</strong>
  <%= @slide.desc_right %>
</p>
<div class="field">
<%= link_to image_tag(@slide.picture.url(:medium)), @slide.picture.url %>
</div>
<%= link_to 'Edit', edit_slide_path(@slide) %> |
<%= link_to 'Back', slides_path %>
